/* Basic layout */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  height: 100%;
  overflow-x: hidden;
  background-color: #f3f9fd;
}

.initial-content img {
  position: relative;
  height: 100vh; /* Take full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden;
  object-fit: cover;
  display: block;
}

.menu-bar {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  overflow: hidden;
  background-color: #c8e5f5;
  padding: 10px 0;
  transition: bottom 0.3s ease-out;
  z-index: 10;
}

.menu-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-bar li {
  padding: 15px;
  display: flex;
  align-items: center;
  border-right: solid black 1px; /* Add border between items */
}

.menu-bar li:last-child {
  border-right: none; /* Remove border from the last item */
}

.menu-bar a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.about-me {
  padding: 20px; /* Add padding around the section */
  text-align: center; /* Center-align content inside the section */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin: 20px; /* Add margin around the section */
}

.about-me img {
  width: 80%; /* Ensure the image does not exceed the container's width */
  display: block; /* Remove any inline spacing issues */
  margin: 0 auto; /* Center the image horizontally if needed */
  object-fit: cover; /* Ensure the image fills its container without stretching */
  border-radius: 50%;
}

.bio-text {
  width: 100%;
}

.about-me h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 40px;
  text-align: center;
}

.about-me p {
  font-size: 30px;
  margin: 20px;
}

.country-buttons {
  display: grid; /* Enable grid layout */
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
  gap: 40px;
  align-items: center; /* Center the items vertically */
  padding: 20px; /* Add padding around the container */
}

.country-buttons a:nth-child(odd) {
  justify-self: right; /* Align items in the left column to the right */
}

.country-buttons a:nth-child(even) {
  justify-self: left; /* Align items in the right column to the left */
}

.country-buttons a {
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack <h2> and <img> vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text below the images */
  text-decoration: none;
  border: solid #011f4b 5px;
  border-radius: 10%;
  width: 90%;
  background-color: #deeff9;
}

.country-buttons a:visited {
  color: inherit;
}

.country-buttons a:hover {
  color: inherit;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1.25s;

  /* When the animation is finished, start again */
  animation-iteration-count: 0.5;
}

.country-buttons h2 {
  font-size: 35px;
  margin-top: 20px;
}

.country-buttons img {
  width: 90%;
  margin: 30px 40px 5px 40px;
  border-radius: 10%;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}